.contacts {
  background-color: rgb(89, 89, 89);
  margin-top: 40px;
  display: flex;
  align-items: center;
  border: 2px solid rgb(96, 96, 96);
  border-radius: 10px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.contactForm {
  padding: 20px;
  /* background-color: rgb(89, 89, 89); */
}
