.form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.form button {
  width: 150px;
  margin: 24px auto 0;
  color: rgb(195, 195, 195);
  border: 1px solid rgb(51, 51, 51);
  background-color: rgb(65, 65, 65);
  transition: border 0.5s, background-color 0.2s;
}

.form button:active {
  transform: translateY(1px);
}

.form button:hover {
  background-color: rgb(48, 59, 53);
  border: 1px solid rgb(64, 75, 67);
}

.form label {
  font-size: 18px;
  margin-top: 16px;
  color: rgb(183, 183, 183);
}

.form input {
  width: 100%;
  outline: none;
  margin: 0 auto;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #595959;
  transition: border 0.2s ease;
  color: rgb(170, 170, 170);
  border: 1px solid rgb(117, 117, 117);
}

.form input:focus {
  border: 1px solid rgb(149, 149, 149);
}

.form input::placeholder {
  font-family: Montserrat;
  color: rgb(150, 150, 150);
}

.numberErrorWrapper,
.nameErrorWrapper {
  position: relative;
}

.nameError,
.numberError {
  top: 0;
  left: 10px;
  font-size: 15px;
  position: absolute;
  color: rgb(255, 190, 190);
}

.successMessage {
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 15px;
  margin-top: 12px;
  position: absolute;
  color: rgb(184, 255, 184);
  transform: translate(-50%, -50%);
}
