#root {
  margin: 0 auto;
  text-align: center;
}

.title {
  padding-top: 20px;
  color: #e0e0e0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  @media screen and (min-width: 320px) {
    font-size: 32px;
  }
  @media screen and (min-width: 375px) {
    font-size: 36px;
  }
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}
