#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  min-width: 480px;
  min-height: 313px;
  margin-top: 30px;
  border: 1px solid rgb(90, 90, 90);
  /* background-color: #626262; */
  background-image: linear-gradient(
    to bottom,
    #595959,
    #565656,
    #525252,
    #4f4f4f,
    #4c4c4c,
    #4a4a4a,
    #484848,
    #464646,
    #454545,
    #444444,
    #434343,
    #424242
  );
  border-radius: 16px;
  padding: 30px;
  box-shadow: rgba(58, 61, 64, 0.372) 0px 10px 20px 10px;
}

.title {
  color: #e0e0e0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
