.contactsWrapper {
  height: 516px;
  padding: 12px 0;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 380px;
  }
}

.contactList {
  padding: 0px 10px 0px 0px;
  max-height: 500px;
  overflow-y: auto;
  background-color: rgb(89, 89, 89);

  @media screen and (max-width: 767px) {
    border-top: 2px solid rgb(98, 98, 98);
    padding: 20px 12px 12px;
  }
}

.message {
  top: -30px;
  max-width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.loading {
  color: rgb(160, 160, 160);
}
.added {
  color: rgb(132, 196, 166);
}
.deleted {
  color: rgb(223, 165, 165);
}
.error {
  color: rgb(230, 167, 167);
}

.notFound {
  color: rgb(240, 178, 178);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(102, 102, 102);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(134, 134, 134);
}
